@charset "utf-8";

/* reset */
body {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption,input {
	margin:0;
	padding:0;
}
ul, ol {list-style:none;}

img {border:0;}

a {text-decoration:none; color:#222;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
em {font-style: normal;}

/* layout */
html, body{height:100%;}
#wrap {position:relative; width:100%; height:auto;}
#container {width:100%; height:auto;}
#intro {position: relative; width:100%; height:100%;}
#main {position: relative; width:100%; height:auto;} 
#detail {position: relative; width:100%; height:auto;} 

/* common */
* {font-family: 'Noto Sans KR', sans-serif;}

#header {position:absolute; top:0; left:0; z-index:50; width:100%; height:auto; padding-top:20px; background-color:transparent;}
#header > .inner {width:1400px; margin:0 auto;}
#header .inner:after {content:''; display:block; clear:both; zoom:1;}
#header .logo {float:left;}
#header .logo a {color:white; font-size:24px;}
#header .logo img {display:none;}
#header .gnb {float:right;}
#header .gnb > ul {overflow:hidden;}
#header .gnb > ul > li {float:left; margin-left:46px;}
#header .gnb > ul > li:first-child {margin-left:0px;}
#header .gnb > ul > li a {color:#fff; font-size:14px; line-height: 36px;}

.main_visual {overflow:hidden; position:relative; width:100%; min-width:1400px; height:auto; color:#fff; background-color:#000;}
.main_visual .hero_bg  {position:relative; width: 100%; height:auto; vertical-align:top;}
.main_visual .txt_area  {position:absolute; width:1400px; top:0; bottom:0; left:50%; transform:translateX(-50%);}
.main_visual .title {position:absolute; bottom:350px; left:0; width:100%; color:#fff;}
.main_visual .title > * {display:block;}
.main_visual .title > .tit_strong {font-size:50px; line-height:1;}
.main_visual .title > .tit_em {font-size:50px;}
.main_visual .title > .tit_p {font-size:12px; line-height:1.8;}
.main_visual .info_area {position:absolute; left:0; font-size:12px; color:#999; }

.tit_strong {font-weight:700;}
.tit_em {font-weight:300;}
.tit_p {font-weight:400;}

#footer {width:100%; margin:150px 0 200px 0; background-color:white; text-align:center; color:#666;}
#footer > .inner {width:1400px; margin:0 auto;}
#footer > .inner .social {margin-bottom:20px; font-size:0;}
#footer > .inner .social a {
	display:inline-block; 
	width:35px; 
	height:36px; 
	margin-left:27px;
	background-image:url(../images/ico_social.gif);
	background-repeat: no-repeat;
	text-indent:-9999px;
}
#footer > .inner .social .fb {background-position:0 0; margin-left:0;}
#footer > .inner .social .pin {background-position:-62px 0;}
#footer > .inner .social .twit {background-position:-124px 0;}
#footer > .inner .social .insta {background-position:-185px 0;}
#footer > .inner .info {font-style:normal; font-size:0;}
#footer > .inner .info address p {
	display:inline-block; 
	margin-left:20px;
	font-size:16px; 
	font-style:normal; 
	line-height:2;
}
#footer > .inner .info address p:first-child {margin-left:0;}
#footer > .inner .info .copyright {display:block; margin-top:8px; font-size:10px; color:#ccc;}

/* intro */
#intro {overflow:hidden;}
#wrap.wrap_intro {height:100%;}
.link_svg_version {overflow:hidden; display:block; position: absolute; top:0; left:0; right:0; bottom:0;}
.link_svg_version > * {display:block; position:absolute; width:760px;}
.link_svg_version .right{display:block; right:-100px; bottom:-190px;  transform:rotate(25.65deg);}
.link_svg_version .top{display:block; top:-470px; left:30%; transform:rotate(129.6deg);}
.link_svg_version .left{display:block; left:-499px; top:15%; transform:rotate(161.71deg)}
#intro .slider {width:100%; min-width:1400px;}
.intro_title {position: absolute; top:48%; left:94px; transform: translateY(-50%)}
.intro_title > * {display:block;}
.intro_title em {font-size:30px; font-style:normal; font-weight:300;}
.intro_title .name {font-size:50px; font-style:normal; font-weight:700; line-height: 1;}
.intro_title p {
	font-size:32px; 
	font-style:normal; 
	font-weight:700; 
	letter-spacing: 27px; 
	line-height: 2;
}
.intro_info {font-weight:400; color:#666; font-size:16px;}
.intro_info > .info_date {position:absolute; top:48%; right:67px; transform:rotate(-90deg)}
.intro_info > .info_author {position:absolute; left:94px; bottom:68px;}
.intro_info > .info_author > * {float:left;}
.intro_info > .info_author > .number {margin-right:15px;}

.intro_pager {position:absolute; left:50%; bottom:10%; transform:translateX(-50%);}
.button {
    height:28px;
    width:28px;
    position:relative;
    box-sizing:border-box;
    line-height:28px;
	display:inline-block;
	margin-left:24px;
}
.button:first-child {margin-left:0;}
.button:before, .button:after {
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-14px;
	height:2px;
	width:28px;
	background-color:#000;
	visibility:hidden;
	transform:rotate(-45deg);
	content:'';
	transition:all 0.25s ease-out;
}
.button:before {visibility: visible;}
.button.active:after {visibility:visible; transform: rotate(-135deg);}

/* main */
#main .main_visual .btn_arrow {
	display:block; 
	position:absolute;
	top:9px; 
	right:0; 
	width:27px;
	height:44px;
	background:url(../images/btn_arrow_right.gif) no-repeat;
}
#main .content {overflow:hidden; margin-top:-200px; width:100%;}
.content .section {overflow:hidden; width:1400px; height:624px; margin:0 auto 40px;}
.content .section:last-child {margin-bottom:0;}
.content .section .col {overflow:hidden; float:left; position:relative; height: 100%; margin-left:40px;}
.content .section .col:first-child {margin-left:0px;}
.content .section .one {background-color:#000;}
.content .section .col .bg_block {position:absolute; top:50%; left:50%; height:100%; transform: translate(-50%, -50%);}
.content .section .col .bg_dark {position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.8); visibility: hidden; }
.content .section .col .txt_area {
	position:absolute; 
	top:50%; 
	width:100%; 
	color:#fff; 
	text-align:center; 
	transform:translateY(-50%); 
	visibility:hidden;	
	}
.content .section .txt_area > * {display:block; text-align:center;}
.content .section .txt_area > .tit_strong {font-size:30px;}
.content .section .txt_area > .tit_em {font-size:30px;}
.content .section .txt_area > .tit_p {font-size:12px;}

.content .section .col1 {width:440px;}
.content .section .col2 {width:920px;}
.content .section .col3 {width:1400px;}
.content .section .col_half {width:680px;}
.content .section.type_full {width:100%;}
.content .col_full {width:100%;}
.section.small .inner_row1 {height:100%; height:292px; margin-bottom:40px;}
.section.small .inner_row1:last-child {margin-bottom:0px;}

.section.small .inner_col {overflow:hidden; float:left; position:relative; height:292px; margin-bottom:40px;}
.section.small .inner_col1 {width:440px;}
.section.small .inner_col2 {width:920px;}
.section.small .col2 .inner_col1 {margin-left:40px;}
.section.small .col2 .inner_col1.no_margin {margin-left:0px;}

.content .section .one:hover .bg_dark {visibility:visible;}
.content .section .one:hover .txt_area {visibility:visible;}

.section_small_type {width:100%; height:auto;}

/* detail */
#detail .main_visual .title { top:225px;}
#detail .main_visual .title .tit_em {font-size:20px; line-height:4; color:#999;}
#detail .main_visual .title .tit_p {width:375px; margin-top:25px; font-size:14px; color:#ccc;}
#detail .main_visual .title .tit_strong {font-size:50px;}
#detail .main_visual .title .tit_strong_2 {font-size:50px; font-weight:300;}
#detail .main_visual .info_area {position:absolute; bottom:100px; color:#999; font-size:12px;}

#detail .content {width:100%; min-width:1400px;}
#detail .content .block {width:100%;}
#detail .content .block:last-cild {margin-bottom:0px;}
#detail .content .block img {width:100%; vertical-align:top;}

#detail .content .section .one:hover .bg_dark {visibility:hidden;}
#detail .content .section .one:hover .txt_area {visibility:visible;}


